# Try to combine the two hotest kernels

In [1]:
import os
if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass

import csv
import datetime
from operator import sub
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn import preprocessing, ensemble

C:\Users\home\Anaconda3\envs\kaggle\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
mapping_dict = {
'ind_empleado'  : {-99:0, 'N':1, 'B':2, 'F':3, 'A':4, 'S':5},
'sexo'          : {'V':0, 'H':1, -99:2},
'ind_nuevo'     : {'0':0, '1':1, -99:2},
'indrel'        : {'1':0, '99':1, -99:2},
'indrel_1mes'   : {-99:0, '1.0':1, '1':1, '2.0':2, '2':2, '3.0':3, '3':3, '4.0':4, '4':4, 'P':5},
'tiprel_1mes'   : {-99:0, 'I':1, 'A':2, 'P':3, 'R':4, 'N':5},
'indresi'       : {-99:0, 'S':1, 'N':2},
'indext'        : {-99:0, 'S':1, 'N':2},
'conyuemp'      : {-99:0, 'S':1, 'N':2},
'indfall'       : {-99:0, 'S':1, 'N':2},
'tipodom'       : {-99:0, '1':1},
'ind_actividad_cliente' : {'0':0, '1':1, -99:2},
'segmento'      : {'02 - PARTICULARES':0, '03 - UNIVERSITARIO':1, '01 - TOP':2, -99:2},
'pais_residencia' : {'LV': 102, 'BE': 12, 'BG': 50, 'BA': 61, 'BM': 117, 'BO': 62, 'JP': 82, 'JM': 116, 'BR': 17, 'BY': 64, 'BZ': 113, 'RU': 43, 'RS': 89, 'RO': 41, 'GW': 99, 'GT': 44, 'GR': 39, 'GQ': 73, 'GE': 78, 'GB': 9, 'GA': 45, 'GN': 98, 'GM': 110, 'GI': 96, 'GH': 88, 'OM': 100, 'HR': 67, 'HU': 106, 'HK': 34, 'HN': 22, 'AD': 35, 'PR': 40, 'PT': 26, 'PY': 51, 'PA': 60, 'PE': 20, 'PK': 84, 'PH': 91, 'PL': 30, 'EE': 52, 'EG': 74, 'ZA': 75, 'EC': 19, 'AL': 25, 'VN': 90, 'ET': 54, 'ZW': 114, 'ES': 0, 'MD': 68, 'UY': 77, 'MM': 94, 'ML': 104, 'US': 15, 'MT': 118, 'MR': 48, 'UA': 49, 'MX': 16, 'IL': 42, 'FR': 8, 'MA': 38, 'FI': 23, 'NI': 33, 'NL': 7, 'NO': 46, 'NG': 83, 'NZ': 93, 'CI': 57, 'CH': 3, 'CO': 21, 'CN': 28, 'CM': 55, 'CL': 4, 'CA': 2, 'CG': 101, 'CF': 109, 'CD': 112, 'CZ': 36, 'CR': 32, 'CU': 72, 'KE': 65, 'KH': 95, 'SV': 53, 'SK': 69, 'KR': 87, 'KW': 92, 'SN': 47, 'SL': 97, 'KZ': 111, 'SA': 56, 'SG': 66, 'SE': 24, 'DO': 11, 'DJ': 115, 'DK': 76, 'DE': 10, 'DZ': 80, 'MK': 105, -99: 1, 'LB': 81, 'TW': 29, 'TR': 70, 'TN': 85, 'LT': 103, 'LU': 59, 'TH': 79, 'TG': 86, 'LY': 108, 'AE': 37, 'VE': 14, 'IS': 107, 'IT': 18, 'AO': 71, 'AR': 13, 'AU': 63, 'AT': 6, 'IN': 31, 'IE': 5, 'QA': 58, 'MZ': 27},
'canal_entrada' : {'013': 49, 'KHP': 160, 'KHQ': 157, 'KHR': 161, 'KHS': 162, 'KHK': 10, 'KHL': 0, 'KHM': 12, 'KHN': 21, 'KHO': 13, 'KHA': 22, 'KHC': 9, 'KHD': 2, 'KHE': 1, 'KHF': 19, '025': 159, 'KAC': 57, 'KAB': 28, 'KAA': 39, 'KAG': 26, 'KAF': 23, 'KAE': 30, 'KAD': 16, 'KAK': 51, 'KAJ': 41, 'KAI': 35, 'KAH': 31, 'KAO': 94, 'KAN': 110, 'KAM': 107, 'KAL': 74, 'KAS': 70, 'KAR': 32, 'KAQ': 37, 'KAP': 46, 'KAW': 76, 'KAV': 139, 'KAU': 142, 'KAT': 5, 'KAZ': 7, 'KAY': 54, 'KBJ': 133, 'KBH': 90, 'KBN': 122, 'KBO': 64, 'KBL': 88, 'KBM': 135, 'KBB': 131, 'KBF': 102, 'KBG': 17, 'KBD': 109, 'KBE': 119, 'KBZ': 67, 'KBX': 116, 'KBY': 111, 'KBR': 101, 'KBS': 118, 'KBP': 121, 'KBQ': 62, 'KBV': 100, 'KBW': 114, 'KBU': 55, 'KCE': 86, 'KCD': 85, 'KCG': 59, 'KCF': 105, 'KCA': 73, 'KCC': 29, 'KCB': 78, 'KCM': 82, 'KCL': 53, 'KCO': 104, 'KCN': 81, 'KCI': 65, 'KCH': 84, 'KCK': 52, 'KCJ': 156, 'KCU': 115, 'KCT': 112, 'KCV': 106, 'KCQ': 154, 'KCP': 129, 'KCS': 77, 'KCR': 153, 'KCX': 120, 'RED': 8, 'KDL': 158, 'KDM': 130, 'KDN': 151, 'KDO': 60, 'KDH': 14, 'KDI': 150, 'KDD': 113, 'KDE': 47, 'KDF': 127, 'KDG': 126, 'KDA': 63, 'KDB': 117, 'KDC': 75, 'KDX': 69, 'KDY': 61, 'KDZ': 99, 'KDT': 58, 'KDU': 79, 'KDV': 91, 'KDW': 132, 'KDP': 103, 'KDQ': 80, 'KDR': 56, 'KDS': 124, 'K00': 50, 'KEO': 96, 'KEN': 137, 'KEM': 155, 'KEL': 125, 'KEK': 145, 'KEJ': 95, 'KEI': 97, 'KEH': 15, 'KEG': 136, 'KEF': 128, 'KEE': 152, 'KED': 143, 'KEC': 66, 'KEB': 123, 'KEA': 89, 'KEZ': 108, 'KEY': 93, 'KEW': 98, 'KEV': 87, 'KEU': 72, 'KES': 68, 'KEQ': 138, -99: 6, 'KFV': 48, 'KFT': 92, 'KFU': 36, 'KFR': 144, 'KFS': 38, 'KFP': 40, 'KFF': 45, 'KFG': 27, 'KFD': 25, 'KFE': 148, 'KFB': 146, 'KFC': 4, 'KFA': 3, 'KFN': 42, 'KFL': 34, 'KFM': 141, 'KFJ': 33, 'KFK': 20, 'KFH': 140, 'KFI': 134, '007': 71, '004': 83, 'KGU': 149, 'KGW': 147, 'KGV': 43, 'KGY': 44, 'KGX': 24, 'KGC': 18, 'KGN': 11}
}
cat_cols = list(mapping_dict.keys())

In [7]:
target_cols = ['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1']
target_cols = target_cols[2:]

In [21]:
df = pd.read_csv('../input/train_ver2.csv')

C:\Users\home\Anaconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
df2 = df.copy()

## Clean data

In [25]:
df.isnull().any()

fecha_dato               False
ncodpers                 False
ind_empleado              True
pais_residencia           True
sexo                      True
age                      False
fecha_alta                True
ind_nuevo                 True
antiguedad               False
indrel                    True
ult_fec_cli_1t            True
indrel_1mes               True
tiprel_1mes               True
indresi                   True
indext                    True
conyuemp                  True
canal_entrada             True
indfall                   True
tipodom                   True
cod_prov                  True
nomprov                   True
ind_actividad_cliente     True
renta                     True
segmento                  True
ind_ahor_fin_ult1        False
ind_aval_fin_ult1        False
ind_cco_fin_ult1         False
ind_cder_fin_ult1        False
ind_cno_fin_ult1         False
ind_ctju_fin_ult1        False
ind_ctma_fin_ult1        False
ind_ctop_fin_ult1        False
ind_ctpp_fin_ult1        False
ind_deco_fin_ult1        False
ind_deme_fin_ult1        False
ind_dela_fin_ult1        False
ind_ecue_fin_ult1        False
ind_fond_fin_ult1        False
ind_hip_fin_ult1         False
ind_plan_fin_ult1        False
ind_pres_fin_ult1        False
ind_reca_fin_ult1        False
ind_tjcr_fin_ult1        False
ind_valo_fin_ult1        False
ind_viv_fin_ult1         False
ind_nomina_ult1           True
ind_nom_pens_ult1         True
ind_recibo_ult1          False
dtype: bool

`ind_empleado`

In [26]:
df.ind_empleado.value_counts(dropna=False)

N      13610977
NaN       27734
B          3566
F          2523
A          2492
S            17
Name: ind_empleado, dtype: int64

In [27]:
df.loc[df.ind_empleado.isnull(), 'ind_empleado'] = 'unknown'

In [28]:
df.ind_empleado.isnull().sum()

0

In [29]:
df.ind_empleado = df.ind_empleado.astype('category')

In [33]:
df.ind_empleado.value_counts()

N          13610977
unknown       27734
B              3566
F              2523
A              2492
S                17
Name: ind_empleado, dtype: int64

`pais_residencia`

In [30]:
df.pais_residencia.value_counts(dropna=False)

ES     13553710
NaN       27734
FR         5161
AR         4835
DE         4625
GB         4605
US         3651
CO         3526
IT         2947
RO         2931
MX         2573
BR         2351
VE         2331
EC         2169
CH         1995
BE         1526
BO         1514
PY         1430
PT         1419
CL          989
PE          900
RU          769
CU          758
NL          757
SE          603
PL          599
CN          563
UY          510
UA          493
BG          476
         ...
ET           34
PH           34
MZ           34
VN           34
OM           22
LV           17
KH           17
ML           17
MM           17
TG           17
KZ           17
SL           17
LY           17
TN           17
GM           17
CF           17
CD           17
KW           17
AL           17
LB           17
IS           17
GH           17
GE           17
BZ           17
GI           17
DJ           11
JM           11
ZW           11
BM            6
MT            2
Name: pais_residencia, Length: 119, dtype: int64

In [31]:
df.loc[df.pais_residencia.isnull(), 'pais_residencia'] = 'unknown'

In [34]:
df.pais_residencia = df.pais_residencia.astype('category')

`sexo`

In [36]:
df.sexo.value_counts(dropna=False)

V      7424252
H      6195253
NaN      27804
Name: sexo, dtype: int64

In [37]:
df.loc[df.sexo.isnull(), 'sexo'] = 'unknown'

`fecha_alta`

In [39]:
df.fecha_alta = pd.to_datetime(df.fecha_alta, format='%Y-%m-%d')

In [44]:
df.fecha_alta.value_counts(dropna=False)

2014-07-28    57389
2014-10-03    54287
2014-08-04    45746
2013-10-14    40804
2013-08-03    33414
NaT           27734
2012-08-06    26223
2014-07-21    26027
2012-08-03    25409
2012-08-02    25004
2013-10-11    24751
2013-08-10    23766
2012-08-01    22935
2014-09-17    22810
2014-08-06    22756
2014-09-24    22696
2014-07-30    22695
2012-08-09    22433
2013-07-22    22309
2012-08-07    22052
2012-07-24    21840
2014-09-23    21422
2012-07-30    20591
2013-10-10    20241
2013-10-28    20089
2013-10-09    19954
2012-10-01    19920
2012-07-31    19902
2012-08-10    19676
2015-07-25    19638
              ...
2000-04-23       11
2010-10-31       11
2012-04-29       11
2004-11-01       11
2013-10-12       11
1995-04-29       11
2011-11-20       11
2012-08-19       11
2013-06-15       11
2009-09-13       11
2013-09-07       11
2013-08-17       11
2014-06-29       11
2013-11-01       11
2014-03-30       11
2012-09-30       11
2012-08-11       11
2010-07-17       11
2014-09-07       11
2013-03-09       11
2014-03-16       11
2011-06-25       11
1997-09-09       11
2012-06-02       11
2014-08-10       11
2012-06-09       11
2015-05-31        9
2014-05-01        7
2010-07-04        4
2009-12-25        4
Name: fecha_alta, Length: 6757, dtype: int64

In [47]:
df.loc[df.fecha_alta.isnull(), target_cols]

,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
261,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1029,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1063,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1154,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1779,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1850,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,1
1867,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1886,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,0
2142,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2487,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,0
3343,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3411,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0.0,0.0,1
3414,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3550,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3646,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4150,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4182,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.0,0.0,0
4281,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4290,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4362,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4646,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,0
4775,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4777,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
5288,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
5413,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
5503,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
5666,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3770661,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3770746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3770881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3771376,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3771380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3771435,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3771523,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3771727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3772008,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3772627,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3772783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,0
3772931,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3773459,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3773729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3773767,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3774107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3774329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3774635,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3774795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3774843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3774902,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3775205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3775245,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,0
3775860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3775909,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3775976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3776175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3776230,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3776279,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0
3776332,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,NaN,NaN,0