# Clean data

Most winning solutions do not exploit data cleaning, and property features are not very useful, only production features are helpful. So clean data now.

In [1]:
import os
if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass
    
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tqdm
import gc

tqdm.tqdm.pandas()

%matplotlib inline

In [2]:
df = pd.read_csv('../input/train_ver2.csv')
dt = pd.read_csv('../input/test_ver2.csv')

C:\Users\lyaa\AppData\Local\Continuum\miniconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\lyaa\AppData\Local\Continuum\miniconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = pd.concat((df, dt), sort=False, ignore_index=True)

In [4]:
del dt
gc.collect()

7

In [5]:
df.shape

(14576924, 48)

In [6]:
df.fecha_dato.unique()

array(['2015-01-28', '2015-02-28', '2015-03-28', '2015-04-28',
       '2015-05-28', '2015-06-28', '2015-07-28', '2015-08-28',
       '2015-09-28', '2015-10-28', '2015-11-28', '2015-12-28',
       '2016-01-28', '2016-02-28', '2016-03-28', '2016-04-28',
       '2016-05-28', '2016-06-28'], dtype=object)

Datatime features

In [7]:
df.fecha_dato = pd.to_datetime(df.fecha_dato)
df.fecha_alta = pd.to_datetime(df.fecha_alta)
df.ult_fec_cli_1t = pd.to_datetime(df.ult_fec_cli_1t)

`ind_empleado` Employee index: A active, B ex employed, F filial, N not employee, P pasive

In [8]:
df.ind_empleado.value_counts(dropna=False)

N      14540073
NaN       27734
B          3784
F          2675
A          2640
S            18
Name: ind_empleado, dtype: int64

In [9]:
df.ind_empleado.fillna('unknown', inplace=True)

In [10]:
df.ind_empleado.value_counts(dropna=False)

N          14540073
unknown       27734
B              3784
F              2675
A              2640
S                18
Name: ind_empleado, dtype: int64

In [11]:
df.ind_empleado = df.ind_empleado.astype('category')

In [12]:
df.ind_empleado.value_counts(dropna=False)

N          14540073
unknown       27734
B              3784
F              2675
A              2640
S                18
Name: ind_empleado, dtype: int64

`pais_residencia` Customer's Country residence

In [13]:
df.pais_residencia.value_counts(dropna=False).head()

ES     14479329
NaN       27734
FR         5472
AR         5123
DE         4906
Name: pais_residencia, dtype: int64

In [14]:
df.pais_residencia.fillna('unknown', inplace=True)

In [15]:
df.pais_residencia = df.pais_residencia.astype('category')

In [16]:
df.pais_residencia.value_counts(dropna=False).head()

ES         14479329
unknown       27734
FR             5472
AR             5123
DE             4906
Name: pais_residencia, dtype: int64

`sexo` Customer's sex, V man, H woman

In [17]:
df.sexo.value_counts(dropna=False)

V      7928767
H      6620348
NaN      27809
Name: sexo, dtype: int64

In [18]:
df.sexo.fillna('unknown', inplace=True)
df.sexo = df.sexo.astype('category')

In [19]:
df.sexo.value_counts(dropna=False)

V          7928767
H          6620348
unknown      27809
Name: sexo, dtype: int64

`age`

In [20]:
df.age = pd.to_numeric(df.age, errors='coerce')

In [21]:
df.age.value_counts(dropna=False).sort_index().tail()

 126.0        3
 127.0        9
 163.0        8
 164.0        4
NaN       27734
Name: age, dtype: int64

`ind_nuevo` New customer Index. 1 if the customer registered in the last 6 months.

In [22]:
df.ind_nuevo.value_counts(dropna=False)

 0.0    13712094
 1.0      837096
NaN        27734
Name: ind_nuevo, dtype: int64

In [23]:
df.ind_nuevo.fillna(-1, inplace=True)
df.ind_nuevo = df.ind_nuevo.astype('category')

In [24]:
df.ind_nuevo.value_counts(dropna=False)

 0.0    13712094
 1.0      837096
-1.0       27734
Name: ind_nuevo, dtype: int64

`antiguedad` Customer seniority (in months)

In [25]:
df.antiguedad.value_counts(dropna=False)

1          134860
0          134464
12         134181
3          130353
2          129102
5          129008
8          124506
4          123625
7          123088
     21    118544
6          116908
14         116169
16         115142
10         114378
9          114257
21         114174
17         113728
18         112912
     12    112571
15         112489
23         112221
19         111137
11         110672
13         110607
20         110297
24         109524
26         106384
22         103459
25         102200
27         102094
            ...
    238      2948
    215      2904
    228      2876
    203      2510
249          2408
    236      2378
    230      2258
    241      1980
    226      1967
      1      1898
    233      1863
    240      1854
250          1703
251          1490
    227      1356
    242      1148
252          1119
    239       872
    243       713
253           660
    246       507
    244       450
254           413
    245       360
255           263
256           179
      0       149
257           102
-999999        29
-999999        12
Name: antiguedad, Length: 508, dtype: int64

In [26]:
df.antiguedad = pd.to_numeric(df.antiguedad, errors='coerce')

In [27]:
df.antiguedad.value_counts(dropna=False).sort_index()

-999999.0        41
 0.0         134613
 1.0         136758
 2.0         134228
 3.0         137309
 4.0         133566
 5.0         146380
 6.0         132755
 7.0         143194
 8.0         182038
 9.0         200929
 10.0        216109
 11.0        145138
 12.0        246752
 13.0        127110
 14.0        130008
 15.0        125367
 16.0        141009
 17.0        129013
 18.0        133811
 19.0        133833
 20.0        166158
 21.0        232718
 22.0        164779
 23.0        193779
 24.0        172144
 25.0        111611
 26.0        116494
 27.0        113125
 28.0        108237
              ...
 229.0        12413
 230.0        11661
 231.0        14083
 232.0        12333
 233.0        10071
 234.0        11266
 235.0        11682
 236.0        10080
 237.0        13624
 238.0        11053
 239.0         8762
 240.0         9747
 241.0         9457
 242.0         8385
 243.0         7118
 244.0         6440
 245.0         5679
 246.0         5313
 247.0         4115
 248.0         3382
 249.0         2408
 250.0         1703
 251.0         1490
 252.0         1119
 253.0          660
 254.0          413
 255.0          263
 256.0          179
 257.0          102
NaN           27734
Name: antiguedad, Length: 260, dtype: int64

`indrel` 1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)

In [28]:
df.indrel.value_counts(dropna=False)

 1.0     14522714
NaN         27734
 99.0       26476
Name: indrel, dtype: int64

In [29]:
df.indrel.fillna(-1, inplace=True)
df.indrel = df.indrel.astype('category')

`indrel_1mes` Customer relation type at the beginning of the month, A (active), I (inactive), P (former customer),R (Potential)

In [30]:
df.indrel_1mes.value_counts(dropna=False)

1.0    8207172
1.0    4017746
1      2195328
NaN     149804
3.0       1804
3.0       1436
3         1137
P          874
2          483
2.0        479
2.0        355
4.0        143
4.0         93
4           70
Name: indrel_1mes, dtype: int64

In [31]:
df.indrel_1mes.replace('P', 0, inplace=True)

In [32]:
df.indrel_1mes.value_counts(dropna=False)

1.0    8207172
1.0    4017746
1      2195328
NaN     149804
3.0       1804
3.0       1436
3         1137
0          874
2          483
2.0        479
2.0        355
4.0        143
4.0         93
4           70
Name: indrel_1mes, dtype: int64

In [ ]:
df.indrel_1mes = pd.to_numeric(df.indrel_1mes)

In [ ]:
df.indrel_1mes.value_counts(dropna=False)

In [ ]:
df.indrel_1mes.fillna(-1, inplace=True)
df.indrel_1mes = df.indrel_1mes.astype('category')

`indresi` Residence index (S (Yes) or N (No) if the residence country is the same than the bank country)

In [ ]:
df.indresi.value_counts(dropna=False)

In [ ]:
df.indresi.fillna('unknown', inplace=True)
df.indresi = df.indresi.astype('category')

`indext` Foreigner index (S (Yes) or N (No) if the customer's birth country is different than the bank country)

In [ ]:
df.indext.value_counts(dropna=False)

In [ ]:
df.indext.fillna('unknown', inplace=True)
df.indext = df.indext.astype('category')

`conyuemp` Spouse index. 1 if the customer is spouse of an employee

In [ ]:
df.conyuemp.value_counts(dropna=False)

In [ ]:
df.conyuemp.fillna('unknown', inplace=True)
df.conyuemp = df.conyuemp.astype('category')

In [ ]:
df.conyuemp.value_counts(dropna=False)

`canal_entrada` channel used by the customer to join

In [ ]:
df.canal_entrada.value_counts(dropna=False)

In [ ]:
df.canal_entrada.fillna('unknown', inplace=True)
df.canal_entrada = df.canal_entrada.astype('category')

`indfall` Deceased index. N/S

In [ ]:
df.indfall.value_counts(dropna=False)

In [ ]:
df.indfall.fillna('unknown', inplace=True)
df.indfall = df.indfall.astype('category')

`tipodom` Addres type. 1, primary address

In [ ]:
df.tipodom.value_counts(dropna=False)

In [ ]:
df.tipodom.fillna(-1, inplace=True)
df.tipodom = df.tipodom.astype('category')

`cod_prov` Province code (customer's address)

In [ ]:
df.cod_prov.value_counts(dropna=False)

In [ ]:
df.cod_prov.fillna(-1, inplace=True)
df.cod_prov = pd.to_numeric(df.cod_prov, errors='coerce', downcast='integer')

In [ ]:
df.cod_prov = df.cod_prov.astype('category')

`nomprov` Province name

In [ ]:
df.nomprov.value_counts()

In [ ]:
df.nomprov.fillna('unknown', inplace=True)
df.nomprov = df.nomprov.astype('category')

`ind_actividad_cliente` Activity index (1, active customer; 0, inactive customer)

In [ ]:
df.ind_actividad_cliente.value_counts(dropna=False)

In [ ]:
df.ind_actividad_cliente.fillna(-1, inplace=True)
df.ind_actividad_cliente = df.ind_actividad_cliente.astype('category')

`renta` Gross income of the household

In [ ]:
df.renta.value_counts(dropna=False)

In [ ]:
df.renta.replace("         NA", np.nan, inplace=True)

In [ ]:
df.renta = pd.to_numeric(df.renta)

`segmento` segmentation: 01 - VIP, 02 - Individuals 03 - college graduated

In [ ]:
df.segmento.value_counts(dropna=False)

In [ ]:
# df.segmento.replace('02 - PARTICULARES', 2, inplace=True)
# df.segmento.replace('03 - UNIVERSITARIO', 3, inplace=True)
# df.segmento.replace('01 - TOP', 1, inplace=True)

In [ ]:
df.segmento.fillna('unknown', inplace=True)
df.segmento = df.segmento.astype('category')

In [ ]:
df.segmento.value_counts(dropna=False)

`tiprel_1mes`

In [ ]:
df.tiprel_1mes.value_counts(dropna=False)

In [ ]:
df.tiprel_1mes.value_counts(dropna=False)
df.tiprel_1mes.fillna('unknown', inplace=True)
df.tiprel_1mes = df.tiprel_1mes.astype('category')

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# for c in df:
#     if df[c].dtype.name=='category':
#         le = LabelEncoder()
#         df[c] = le.fit_transform(df[c])

In [ ]:
df.to_hdf('../input/data_all.hdf', 'train_test', complib='blosc:lz4', complevel=9, format='t')

In [ ]:
df.dtypes