## Feature Engineering in RAM-Limited Data, Part 4

#### Mean encoding of `target_combine` one the previous month target
1. In order to mean encode `target_combine`, I have to first have lag target of previous months. For example, for June training set, I can include products in April and May, and also encode all products bought in April with the mean target in May.

2. Another way of mean encoding is to not use time series. Just put all target together and analyze. In this case, we can have the results as in the [3-rd solution](http://blog.kaggle.com/2017/02/22/santander-product-recommendation-competition-3rd-place-winners-interview-ryuji-sakata/) and [forum discussion](https://www.kaggle.com/c/santander-product-recommendation/discussion/26899).

#### CV@2015-12-28:
- benchmark: val = 1.62857
- with only `ind_actividad_client_combine`, `tiprel_1mes_combine`, `target_combine`, mlogloss=1.57141
- with `ind_actividad_client_combine`, `tiprel_1mes_combine`, `target_combine`, `n_products` and patterns: val = 1.31122
- Private score: 0.0302475, public score: 0.0299266

In [1]:
from santander_helper import *
%matplotlib inline

In [2]:
targets = pd.read_hdf('../input/targets.hdf', 'targets')

In [3]:
x_train, y_train = create_train_test('2015-06-28', max_lag=5, target_flag=True, count_pattern=False)

Loading 2015-05-28 data
Loading 2015-06-28 data
Products in 2015-06-28...
Products in 2015-05-28...
New products added in 2015-06-28...
Join customer features and previous month products for 2015-06-28...
Concatenate this and previous months ind_activadad_cliente.
Concatenate this and previous months tiprel_1mes.
Combine all products for each customer.
Prepare for target.
Time used: 0.424 min

In [8]:
targets.fecha_dato.unique()

array(['2015-02-28', '2015-03-28', '2015-04-28', '2015-05-28',
       '2015-06-28', '2015-07-28', '2015-08-28', '2015-09-28',
       '2015-10-28', '2015-11-28', '2015-12-28', '2016-01-28',
       '2016-02-28', '2016-03-28', '2016-04-28', '2016-05-28'],
      dtype=object)

In [7]:
target_month = targets.loc[targets.fecha_dato=='2015-05-28'].copy()
target_month.shape

(29953, 3)

In [16]:
for m in month_list[1:-1]:
    tmp = targets.loc[targets.fecha_dato==m]
    print(len(tmp) - len(tmp.ncodpers.unique()))

7866
7127
5287
5391
8806
7789
5319
7409
7807
7521
9053
5060
13301
7768
6521
8176

In [17]:
x_train.target_combine

0          0.000000
1          0.000000
2         64.253906
3         64.253906
4         64.000977
5          0.250977
6         64.250000
7          0.250977
8          0.003906
9         64.000000
10        32.003906
11        32.003906
12         0.000977
13         0.003906
14         0.003906
15         0.000977
16        64.003906
17        64.003906
18        70.000977
19         6.003906
20         0.003906
21         0.003906
22         0.000977
23        64.000977
24        64.000977
25         0.000977
26         0.000977
27         0.003906
28        70.253906
29         0.253906
            ...
45110      0.000000
45111      0.000000
45112      0.316406
45113     96.003906
45114     96.003906
45115    224.035156
45116    224.035156
45117      0.000977
45118      0.250000
45119      0.032227
45120    262.035156
45121    192.035156
45122    192.035156
45123    192.035156
45124    102.253906
45125    102.347656
45126      0.438477
45127      8.125977
45128      0.000977
45129     64.282227
45130     64.250977
45131      0.000977
45132      0.003906
45133      0.160156
45134      2.253906
45135      0.000977
45136      0.035156
45137      0.000977
45138     40.125977
45139    198.253906
Name: target_combine, Length: 45140, dtype: float64