# Clean data

Most winning solutions do not exploit data cleaning, and property features are not very useful, only production features are helpful. So clean data now.

In [1]:
import os
if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass
    
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tqdm

tqdm.tqdm.pandas()

%matplotlib inline

In [2]:
df = pd.read_csv('../input/train_ver2.csv')
dt = pd.read_csv('../input/test_ver2.csv')

C:\Users\home\Anaconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\home\Anaconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = pd.concat((df, dt), sort=False, ignore_index=True)

In [4]:
import gc
del dt
gc.collect()

7

In [5]:
df.shape

(14576924, 48)

In [6]:
df.fecha_dato.unique()

array(['2015-01-28', '2015-02-28', '2015-03-28', '2015-04-28',
       '2015-05-28', '2015-06-28', '2015-07-28', '2015-08-28',
       '2015-09-28', '2015-10-28', '2015-11-28', '2015-12-28',
       '2016-01-28', '2016-02-28', '2016-03-28', '2016-04-28',
       '2016-05-28', '2016-06-28'], dtype=object)

Datatime features

In [7]:
df.fecha_dato = pd.to_datetime(df.fecha_dato)
df.fecha_alta = pd.to_datetime(df.fecha_alta)
df.ult_fec_cli_1t = pd.to_datetime(df.ult_fec_cli_1t)

`ind_empleado` Employee index: A active, B ex employed, F filial, N not employee, P pasive

In [8]:
df.ind_empleado.value_counts(dropna=False)

N      14540073
NaN       27734
B          3784
F          2675
A          2640
S            18
Name: ind_empleado, dtype: int64

In [9]:
df.ind_empleado.fillna('unknown', inplace=True)

In [10]:
df.ind_empleado.value_counts(dropna=False)

N          14540073
unknown       27734
B              3784
F              2675
A              2640
S                18
Name: ind_empleado, dtype: int64

In [11]:
df.ind_empleado = df.ind_empleado.astype('category')

In [12]:
df.ind_empleado.value_counts(dropna=False)

N          14540073
unknown       27734
B              3784
F              2675
A              2640
S                18
Name: ind_empleado, dtype: int64

`pais_residencia` Customer's Country residence

In [13]:
df.pais_residencia.value_counts(dropna=False).head()

ES     14479329
NaN       27734
FR         5472
AR         5123
DE         4906
Name: pais_residencia, dtype: int64

In [14]:
df.pais_residencia.fillna('unknown', inplace=True)

In [15]:
df.pais_residencia = df.pais_residencia.astype('category')

In [16]:
df.pais_residencia.value_counts(dropna=False).head()

ES         14479329
unknown       27734
FR             5472
AR             5123
DE             4906
Name: pais_residencia, dtype: int64

`sexo` Customer's sex, V man, H woman

In [17]:
df.sexo.value_counts(dropna=False)

V      7928767
H      6620348
NaN      27809
Name: sexo, dtype: int64

In [18]:
df.sexo.fillna('unknown', inplace=True)
df.sexo = df.sexo.astype('category')

In [19]:
df.sexo.value_counts(dropna=False)

V          7928767
H          6620348
unknown      27809
Name: sexo, dtype: int64

`age`

In [20]:
df.age = pd.to_numeric(df.age, errors='coerce')

In [21]:
df.age.value_counts(dropna=False).sort_index().tail()

 126.0        3
 127.0        9
 163.0        8
 164.0        4
NaN       27734
Name: age, dtype: int64

`ind_nuevo` New customer Index. 1 if the customer registered in the last 6 months.

In [22]:
df.ind_nuevo.value_counts(dropna=False)

 0.0    13712094
 1.0      837096
NaN        27734
Name: ind_nuevo, dtype: int64

In [23]:
df.ind_nuevo.fillna(-1, inplace=True)
df.ind_nuevo = df.ind_nuevo.astype('category')

In [24]:
df.ind_nuevo.value_counts(dropna=False)

 0.0    13712094
 1.0      837096
-1.0       27734
Name: ind_nuevo, dtype: int64

`antiguedad` Customer seniority (in months)

In [25]:
df.antiguedad.value_counts(dropna=False)

1          134860
0          134464
12         134181
3          130353
2          129102
5          129008
8          124506
4          123625
7          123088
     21    118544
6          116908
14         116169
16         115142
10         114378
9          114257
21         114174
17         113728
18         112912
     12    112571
15         112489
23         112221
19         111137
11         110672
13         110607
20         110297
24         109524
26         106384
22         103459
25         102200
27         102094
            ...
    238      2948
    215      2904
    228      2876
    203      2510
249          2408
    236      2378
    230      2258
    241      1980
    226      1967
      1      1898
    233      1863
    240      1854
250          1703
251          1490
    227      1356
    242      1148
252          1119
    239       872
    243       713
253           660
    246       507
    244       450
254           413
    245       360
255           263
256           179
      0       149
257           102
-999999        29
-999999        12
Name: antiguedad, Length: 508, dtype: int64

In [26]:
df.antiguedad = pd.to_numeric(df.antiguedad, errors='coerce')

In [27]:
df.antiguedad.value_counts(dropna=False).sort_index()

-999999.0        41
 0.0         134613
 1.0         136758
 2.0         134228
 3.0         137309
 4.0         133566
 5.0         146380
 6.0         132755
 7.0         143194
 8.0         182038
 9.0         200929
 10.0        216109
 11.0        145138
 12.0        246752
 13.0        127110
 14.0        130008
 15.0        125367
 16.0        141009
 17.0        129013
 18.0        133811
 19.0        133833
 20.0        166158
 21.0        232718
 22.0        164779
 23.0        193779
 24.0        172144
 25.0        111611
 26.0        116494
 27.0        113125
 28.0        108237
              ...
 229.0        12413
 230.0        11661
 231.0        14083
 232.0        12333
 233.0        10071
 234.0        11266
 235.0        11682
 236.0        10080
 237.0        13624
 238.0        11053
 239.0         8762
 240.0         9747
 241.0         9457
 242.0         8385
 243.0         7118
 244.0         6440
 245.0         5679
 246.0         5313
 247.0         4115
 248.0         3382
 249.0         2408
 250.0         1703
 251.0         1490
 252.0         1119
 253.0          660
 254.0          413
 255.0          263
 256.0          179
 257.0          102
NaN           27734
Name: antiguedad, Length: 260, dtype: int64

`indrel` 1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)

In [28]:
df.indrel.value_counts(dropna=False)

 1.0     14522714
NaN         27734
 99.0       26476
Name: indrel, dtype: int64

In [29]:
df.indrel.fillna(-1, inplace=True)
df.indrel = df.indrel.astype('category')

`indrel_1mes` Customer relation type at the beginning of the month, A (active), I (inactive), P (former customer),R (Potential)

In [30]:
df.indrel_1mes.value_counts(dropna=False)

1.0    8207172
1.0    4017746
1      2195328
NaN     149804
3.0       1804
3.0       1436
3         1137
P          874
2          483
2.0        479
2.0        355
4.0        143
4.0         93
4           70
Name: indrel_1mes, dtype: int64

In [31]:
df.indrel_1mes.replace('P', 0, inplace=True)

In [32]:
df.indrel_1mes.value_counts(dropna=False)

1.0    8207172
1.0    4017746
1      2195328
NaN     149804
3.0       1804
3.0       1436
3         1137
0          874
2          483
2.0        479
2.0        355
4.0        143
4.0         93
4           70
Name: indrel_1mes, dtype: int64

In [33]:
df.indrel_1mes = pd.to_numeric(df.indrel_1mes)

In [34]:
df.indrel_1mes.value_counts(dropna=False)

 1.0    14420246
NaN       149804
 3.0        4377
 2.0        1317
 0.0         874
 4.0         306
Name: indrel_1mes, dtype: int64

In [35]:
df.indrel_1mes.fillna(-1, inplace=True)
df.indrel_1mes = df.indrel_1mes.astype('category')

`indresi` Residence index (S (Yes) or N (No) if the residence country is the same than the bank country)

In [36]:
df.indresi.value_counts(dropna=False)

S      14479331
N         69859
NaN       27734
Name: indresi, dtype: int64

In [37]:
df.indresi.fillna('unknown', inplace=True)
df.indresi = df.indresi.astype('category')

`indext` Foreigner index (S (Yes) or N (No) if the customer's birth country is different than the bank country)

In [38]:
df.indext.value_counts(dropna=False)

N      13858387
S        690803
NaN       27734
Name: indext, dtype: int64

In [39]:
df.indext.fillna('unknown', inplace=True)
df.indext = df.indext.astype('category')

`conyuemp` Spouse index. 1 if the customer is spouse of an employee

In [40]:
df.conyuemp.value_counts(dropna=False)

NaN    14575012
N          1894
S            18
Name: conyuemp, dtype: int64

In [41]:
df.conyuemp.fillna('unknown', inplace=True)
df.conyuemp = df.conyuemp.astype('category')

In [42]:
df.conyuemp.value_counts(dropna=False)

unknown    14575012
N              1894
S                18
Name: conyuemp, dtype: int64

`canal_entrada` channel used by the customer to join

In [43]:
df.canal_entrada.value_counts(dropna=False)

KHE    4306935
KAT    3474042
KFC    3299057
KHQ     666008
KFA     435322
KHK     258002
KHM     217308
NaN     188207
KHN     134739
KHD     124281
KAS      91805
RED      81935
KAG      78958
KAY      71791
KAA      70951
KAB      66395
KAE      54057
KCC      52427
KBZ      49455
KHL      48076
KFD      47412
KAI      40127
KEY      37419
KAW      36481
KAR      34822
KAZ      34325
KAF      32472
007      31260
013      28798
KCI      28323
        ...
004        226
KCQ        210
KDN        210
KCR        206
KDH        204
KCO        192
KEE        186
KCP        168
K00        162
KBE        156
KEQ        156
KFB        114
KCT        114
KAV        113
KBX        108
KBP         90
KEM         72
KCX         72
KFV         72
KBN         66
KHA         54
KGC         30
KGU         30
KHS         27
KGN         18
KDI         18
KDB         18
KDL         12
025         12
KHR          2
Name: canal_entrada, Length: 163, dtype: int64

In [44]:
df.canal_entrada.fillna('unknown', inplace=True)
df.canal_entrada = df.canal_entrada.astype('category')

`indfall` Deceased index. N/S

In [45]:
df.indfall.value_counts(dropna=False)

N      14512028
S         37162
NaN       27734
Name: indfall, dtype: int64

In [46]:
df.indfall.fillna('unknown', inplace=True)
df.indfall = df.indfall.astype('category')

`tipodom` Addres type. 1, primary address

In [47]:
df.tipodom.value_counts(dropna=False)

 1.0    14549189
NaN        27735
Name: tipodom, dtype: int64

In [48]:
df.tipodom.fillna(-1, inplace=True)
df.tipodom = df.tipodom.astype('category')

`cod_prov` Province code (customer's address)

In [49]:
df.cod_prov.value_counts(dropna=False)

 28.0    4707850
 8.0     1363798
 46.0     730300
 41.0     645656
 15.0     458037
 30.0     424511
 29.0     391569
 50.0     365703
 3.0      335544
 11.0     314479
 36.0     298987
 33.0     284049
 47.0     254277
 35.0     252032
 6.0      205932
 48.0     198382
 45.0     195725
 18.0     190954
 37.0     175309
 39.0     166530
 14.0     154510
 10.0     138510
 7.0      134063
 21.0     130301
 13.0     127465
 2.0      121908
 12.0     111440
 43.0     107746
 9.0      103833
NaN        97587
 17.0      96842
 31.0      94628
 26.0      91008
 27.0      90618
 32.0      89614
 24.0      88720
 25.0      84489
 20.0      76436
 38.0      76065
 19.0      69296
 23.0      68859
 4.0       64598
 16.0      61098
 49.0      54357
 34.0      52593
 40.0      45222
 22.0      42970
 5.0       41411
 1.0       40295
 44.0      24063
 42.0      18921
 52.0      10103
 51.0       7731
Name: cod_prov, dtype: int64

In [50]:
df.cod_prov.fillna(-1, inplace=True)
df.cod_prov = pd.to_numeric(df.cod_prov, errors='coerce', downcast='integer')

In [51]:
df.cod_prov = df.cod_prov.astype('category')

`nomprov` Province name

In [52]:
df.nomprov.value_counts()

MADRID                    4707850
BARCELONA                 1363798
VALENCIA                   730300
SEVILLA                    645656
CORUÃ‘A, A                  458037
MURCIA                     424511
MALAGA                     391569
ZARAGOZA                   365703
ALICANTE                   335544
CADIZ                      314479
PONTEVEDRA                 298987
ASTURIAS                   284049
VALLADOLID                 254277
PALMAS, LAS                252032
BADAJOZ                    205932
BIZKAIA                    198382
TOLEDO                     195725
GRANADA                    190954
SALAMANCA                  175309
CANTABRIA                  166530
CORDOBA                    154510
CACERES                    138510
BALEARS, ILLES             134063
HUELVA                     130301
CIUDAD REAL                127465
ALBACETE                   121908
CASTELLON                  111440
TARRAGONA                  107746
BURGOS                     103833
GIRONA                      96842
NAVARRA                     94628
RIOJA, LA                   91008
LUGO                        90618
OURENSE                     89614
LEON                        88720
LERIDA                      84489
GIPUZKOA                    76436
SANTA CRUZ DE TENERIFE      76065
GUADALAJARA                 69296
JAEN                        68859
ALMERIA                     64598
CUENCA                      61098
ZAMORA                      54357
PALENCIA                    52593
SEGOVIA                     45222
HUESCA                      42970
AVILA                       41411
ALAVA                       40295
TERUEL                      24063
SORIA                       18921
MELILLA                     10103
CEUTA                        7731
Name: nomprov, dtype: int64

In [53]:
df.nomprov.fillna('unknown', inplace=True)
df.nomprov = df.nomprov.astype('category')

`ind_actividad_cliente` Activity index (1, active customer; 0, inactive customer)

In [54]:
df.ind_actividad_cliente.value_counts(dropna=False)

 0.0    7918666
 1.0    6630524
NaN       27734
Name: ind_actividad_cliente, dtype: int64

In [55]:
df.ind_actividad_cliente.fillna(-1, inplace=True)
df.ind_actividad_cliente = df.ind_actividad_cliente.astype('category')

`renta` Gross income of the household

In [56]:
df.renta.value_counts(dropna=False)

NaN                   2794375
         NA            227965
451931.22                5582
463625.16                1743
181042.2                 1493
128318.52                1404
105260.88                1354
488798.49                1332
127141.5                 1183
283325.67                1148
132335.73                1047
236690.34                1009
104563.8                  954
227267.49                 896
273387.54                 886
111933.69                 844
174407.09999999998        823
227397.72000000003        813
155930.43                 804
218030.01                 794
163432.47                 712
208961.79                 680
555605.55                 677
168733.62                 669
135522.15000000002        657
148736.19                 653
152601.99                 649
248233.11                 627
288997.44                 625
326853.09                 624
                       ...
  163022.70                 1
  119813.94                 1
  102354.33                 1
  183235.20                 1
  152644.95                 1
   88472.82                 1
   62133.81                 1
   88358.64                 1
  168246.99                 1
   39123.51                 1
  131696.64                 1
  156766.80                 1
   86442.87                 1
   75057.06                 1
   78222.42                 1
  146443.80                 1
  102778.65                 1
   39189.78                 1
  144725.79                 1
   79556.16                 1
  604444.98                 1
   58560.42                 1
   41980.56                 1
   78785.16                 1
   92267.01                 1
  221383.98                 1
  102335.91                 1
   60902.22                 1
   78911.04                 1
  148571.25                 1
Name: renta, Length: 1037398, dtype: int64

In [57]:
df.renta.replace("         NA", np.nan, inplace=True)

In [58]:
df.renta = pd.to_numeric(df.renta)

`segmento` segmentation: 01 - VIP, 02 - Individuals 03 - college graduated

In [59]:
df.segmento.value_counts(dropna=False)

02 - PARTICULARES     8505598
03 - UNIVERSITARIO    5281607
01 - TOP               598103
NaN                    191616
Name: segmento, dtype: int64

In [60]:
# df.segmento.replace('02 - PARTICULARES', 2, inplace=True)
# df.segmento.replace('03 - UNIVERSITARIO', 3, inplace=True)
# df.segmento.replace('01 - TOP', 1, inplace=True)

In [61]:
df.segmento.fillna('unknown', inplace=True)
df.segmento = df.segmento.astype('category')

In [62]:
df.segmento.value_counts(dropna=False)

02 - PARTICULARES     8505598
03 - UNIVERSITARIO    5281607
01 - TOP               598103
unknown                191616
Name: segmento, dtype: int64

`tiprel_1mes`

In [63]:
df.tiprel_1mes.value_counts(dropna=False)

I      7840818
A      6580745
NaN     149804
P         4683
R          870
N            4
Name: tiprel_1mes, dtype: int64

In [64]:
df.tiprel_1mes.value_counts(dropna=False)
df.tiprel_1mes.fillna('unknown', inplace=True)
df.tiprel_1mes = df.tiprel_1mes.astype('category')

In [65]:
# from sklearn.preprocessing import LabelEncoder
# for c in df:
#     if df[c].dtype.name=='category':
#         le = LabelEncoder()
#         df[c] = le.fit_transform(df[c])

In [67]:
df.to_hdf('../input/data_all.hdf', 'train_test', complib='blosc:lz4', complevel=9, format='t')

C:\Users\home\Anaconda3\envs\kaggle\lib\site-packages\tables\leaf.py:357: RuntimeWarning: overflow encountered in long_scalars
  expected_mb = (expectedrows * rowsize) // MB

In [ ]:
df.dtypes