In [1]:
import os
if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass
    
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tqdm

tqdm.tqdm.pandas()

%matplotlib inline

In [2]:
df = pd.read_csv('../input/train_ver2.csv')
df2 = df.copy()

C:\Users\home\Anaconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ult_null = pd.read_hdf('../input/data.hdf', 'train_ult_null_count')

In [4]:
ncodpers_mixnull = ult_null.loc[(ult_null.count_ult_notnull>0) & (ult_null.count_ult_null>0)].index.tolist()

In [5]:
df.ult_fec_cli_1t = pd.to_datetime(df.ult_fec_cli_1t)
df.fecha_dato = pd.to_datetime(df.fecha_dato)
df.fecha_alta = pd.to_datetime(df.fecha_alta)

In [6]:
df.sort_values(['ncodpers', 'fecha_dato'], inplace=True)

In [7]:
df.loc[df.ncodpers.isin(ncodpers_mixnull), 'ult_fec_cli_1t'] = \
    df.loc[df.ncodpers.isin(ncodpers_mixnull), 'ult_fec_cli_1t'].fillna(method='bfill')

In [8]:
df.loc[df.ncodpers.isin(ncodpers_mixnull), ['ncodpers', 'ult_fec_cli_1t']].head()

         ncodpers ult_fec_cli_1t
4078994     15891     2015-08-05
5319232     15891     2015-08-05
4079035     16136     2016-03-17
5319290     16136     2016-03-17
5705240     16136     2016-03-17

In [9]:
df.age = pd.to_numeric(df.age, errors='coerce')

In [10]:
df.antiguedad = pd.to_numeric(df.antiguedad, errors='coerce')

In [11]:
fecha_dato = pd.DatetimeIndex(df.fecha_dato)
fecha_alta = pd.DatetimeIndex(df.fecha_alta)
fecha_diff = (fecha_dato.year-fecha_alta.year)*12 + (fecha_dato.month-fecha_alta.month)

In [20]:
df.indrel_1mes.value_counts(dropna=False).index.tolist()

[1.0, '1.0', '1', nan, '3.0', 3.0, '3', 'P', '2', '2.0', 2.0, '4.0', 4.0, '4']

In [22]:
indrel_1mes_map = {1.0:1, '1.0':1, '1':1, 'nan':np.nan, 
    '3.0':3, 3.0:3, '3':3, 'P':0, '2':2, '2.0':2, 2.0:2, '4.0':4, 4.0:4, '4':4}

In [23]:
df.indrel_1mes = df.indrel_1mes.map(indrel_1mes_map)

In [24]:
df.indrel_1mes.value_counts(dropna=False)

 1.0    13490681
NaN       149781
 3.0        4350
 2.0        1317
 0.0         874
 4.0         306
Name: indrel_1mes, dtype: int64

In [25]:
df.tiprel_1mes.value_counts(dropna=False)

I      7304875
A      6187123
NaN     149781
P         4656
R          870
N            4
Name: tiprel_1mes, dtype: int64

In [26]:
df.conyuemp.value_counts(dropna=False)

NaN    13645501
N          1791
S            17
Name: conyuemp, dtype: int64

In [30]:
id_null = df.loc[df.ind_empleado.isnull()].index.tolist()

In [31]:
ncodpers_null = df.loc[df.ind_empleado.isnull()].ncodpers.unique().tolist()

AttributeError: 'DataFrame' object has no attribute 'ncodpers_null'

In [18]:
df.isnull().sum()

fecha_dato                      0
ncodpers                        0
ind_empleado                27734
pais_residencia             27734
sexo                        27804
age                         27734
fecha_alta                  27734
ind_nuevo                   27734
antiguedad                  27734
indrel                      27734
ult_fec_cli_1t           13518739
indrel_1mes                149781
tiprel_1mes                149781
indresi                     27734
indext                      27734
conyuemp                 13645501
canal_entrada              186126
indfall                     27734
tipodom                     27735
cod_prov                    93591
nomprov                     93591
ind_actividad_cliente       27734
renta                     2794375
segmento                   189368
ind_ahor_fin_ult1               0
ind_aval_fin_ult1               0
ind_cco_fin_ult1                0
ind_cder_fin_ult1               0
ind_cno_fin_ult1                0
ind_ctju_fin_ult1               0
ind_ctma_fin_ult1               0
ind_ctop_fin_ult1               0
ind_ctpp_fin_ult1               0
ind_deco_fin_ult1               0
ind_deme_fin_ult1               0
ind_dela_fin_ult1               0
ind_ecue_fin_ult1               0
ind_fond_fin_ult1               0
ind_hip_fin_ult1                0
ind_plan_fin_ult1               0
ind_pres_fin_ult1               0
ind_reca_fin_ult1               0
ind_tjcr_fin_ult1               0
ind_valo_fin_ult1               0
ind_viv_fin_ult1                0
ind_nomina_ult1             16063
ind_nom_pens_ult1           16063
ind_recibo_ult1                 0
dtype: int64