# Clean data

Most winning solutions do not exploit data cleaning, and property features are not very useful, only production features are helpful. So clean data now.

In [ ]:
import os
if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass
    
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tqdm

tqdm.tqdm.pandas()

%matplotlib inline

In [2]:
df = pd.read_csv('../input/train_ver2.csv')

C:\Users\home\Anaconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

Datatime features

In [10]:
df.fecha_dato = pd.to_datetime(df.fecha_dato)
df.fecha_alta = pd.to_datetime(df.fecha_alta)
df.ult_fec_cli_1t = pd.to_datetime(df.ult_fec_cli_1t)

`ind_empleado` Employee index: A active, B ex employed, F filial, N not employee, P pasive

In [11]:
df.ind_empleado.value_counts(dropna=False)

N      13610977
NaN       27734
B          3566
F          2523
A          2492
S            17
Name: ind_empleado, dtype: int64

In [12]:
df.ind_empleado = df.ind_empleado.astype('category')

In [14]:
df.ind_empleado.value_counts(dropna=False)

N      13610977
NaN       27734
B          3566
F          2523
A          2492
S            17
Name: ind_empleado, dtype: int64

`pais_residencia` Customer's Country residence

In [16]:
df.pais_residencia.value_counts(dropna=False).head()

ES     13553710
NaN       27734
FR         5161
AR         4835
DE         4625
Name: pais_residencia, dtype: int64

In [17]:
df.pais_residencia = df.pais_residencia.astype('category')

In [18]:
df.pais_residencia.value_counts(dropna=False).head()

ES     13553710
NaN       27734
FR         5161
AR         4835
DE         4625
Name: pais_residencia, dtype: int64

`sexo` Customer's sex, V man, H woman

In [19]:
df.sexo.value_counts(dropna=False)

V      7424252
H      6195253
NaN      27804
Name: sexo, dtype: int64

In [20]:
df.sexo = df.sexo.astype('category')

In [21]:
df.sexo.value_counts(dropna=False)

V      7424252
H      6195253
NaN      27804
Name: sexo, dtype: int64

`age`

In [23]:
df.age = pd.to_numeric(df.age, errors='coerce')

In [28]:
df.age.value_counts(dropna=False).sort_index().tail()

 126.0        3
 127.0        8
 163.0        8
 164.0        3
NaN       27734
Name: age, dtype: int64

`ind_nuevo` New customer Index. 1 if the customer registered in the last 6 months.

In [29]:
df.ind_nuevo.value_counts(dropna=False)

 0.0    12808368
 1.0      811207
NaN        27734
Name: ind_nuevo, dtype: int64

In [30]:
df.ind_nuevo = df.ind_nuevo.astype('category')

In [32]:
df.ind_nuevo.value_counts(dropna=False)

 0.0    12808368
 1.0      811207
NaN        27734
Name: ind_nuevo, dtype: int64

`antiguedad` Customer seniority (in months)

In [31]:
df.antiguedad.value_counts(dropna=False)

0          134335
1          130681
12         130589
3          125789
2          125133
5          122246
     21    118544
4          117501
14         112959
     12    112571
6          111329
17         109770
16         109440
7          109156
15         108838
13         107487
24         104439
10         104434
18         104287
26         103378
     10    101731
25          99037
8           98171
27          96927
28          96575
23          96281
21          96251
19          96000
     33     95100
38          93861
            ...
    238      2948
    215      2904
    228      2876
    203      2510
    236      2378
248          2271
    230      2258
    241      1980
    226      1967
      1      1898
    233      1863
    240      1854
249          1777
250          1512
    227      1356
    242      1148
251          1071
    239       872
    243       713
252           676
    246       507
    244       450
253           416
    245       360
254           261
255           179
      0       149
256           102
-999999        26
-999999        12
Name: antiguedad, Length: 507, dtype: int64

In [33]:
df.antiguedad = pd.to_numeric(df.antiguedad, errors='coerce')

In [36]:
df.antiguedad.value_counts(dropna=False).sort_index()

-999999.0        38
 0.0         134484
 1.0         132579
 2.0         130259
 3.0         132745
 4.0         127442
 5.0         139618
 6.0         127176
 7.0         129262
 8.0         155703
 9.0         177957
 10.0        206165
 11.0        124718
 12.0        243160
 13.0        123990
 14.0        126798
 15.0        121716
 16.0        135307
 17.0        125055
 18.0        125186
 19.0        118696
 20.0        145050
 21.0        214795
 22.0        154809
 23.0        177839
 24.0        167059
 25.0        108448
 26.0        113488
 27.0        107958
 28.0        104820
              ...
 228.0        11920
 229.0        11613
 230.0        10861
 231.0        13120
 232.0        11134
 233.0         9198
 234.0        10347
 235.0        10836
 236.0         9118
 237.0        13165
 238.0        10728
 239.0         8056
 240.0         9036
 241.0         8953
 242.0         7425
 243.0         6514
 244.0         5928
 245.0         4918
 246.0         4591
 247.0         3516
 248.0         2271
 249.0         1777
 250.0         1512
 251.0         1071
 252.0          676
 253.0          416
 254.0          261
 255.0          179
 256.0          102
NaN           27734
Name: antiguedad, Length: 259, dtype: int64

`indrel` 1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)

In [37]:
df.indrel.value_counts(dropna=False)

 1.0     13594782
NaN         27734
 99.0       24793
Name: indrel, dtype: int64

In [38]:
df.indrel = df.indrel.astype('category')

`indrel_1mes` Customer relation type at the beginning of the month, A (active), I (inactive), P (former customer),R (Potential)

In [41]:
df.indrel_1mes.value_counts(dropna=False)

1.0    7277607
1.0    4017746
1      2195328
NaN     149781
3.0       1804
3.0       1409
3         1137
P          874
2          483
2.0        479
2.0        355
4.0        143
4.0         93
4           70
Name: indrel_1mes, dtype: int64

In [42]:
df.indrel_1mes.replace('P', 0, inplace=True)

In [43]:
df.indrel_1mes.value_counts(dropna=False)

1.0    7277607
1.0    4017746
1      2195328
NaN     149781
3.0       1804
3.0       1409
3         1137
0          874
2          483
2.0        479
2.0        355
4.0        143
4.0         93
4           70
Name: indrel_1mes, dtype: int64

In [44]:
df.indrel_1mes = pd.to_numeric(df.indrel_1mes)

In [45]:
df.indrel_1mes.value_counts(dropna=False)

 1.0    13490681
NaN       149781
 3.0        4350
 2.0        1317
 0.0         874
 4.0         306
Name: indrel_1mes, dtype: int64

In [46]:
df.indrel_1mes = df.indrel_1mes.astype('category')

`indresi` Residence index (S (Yes) or N (No) if the residence country is the same than the bank country)

In [47]:
df.indresi.value_counts(dropna=False)

S      13553711
N         65864
NaN       27734
Name: indresi, dtype: int64

In [48]:
df.indresi = df.indresi.astype('category')

`indext` Foreigner index (S (Yes) or N (No) if the customer's birth country is different than the bank country)

In [49]:
df.indext.value_counts(dropna=False)

N      12974839
S        644736
NaN       27734
Name: indext, dtype: int64

In [50]:
df.indext = df.indext.astype('category')

`conyuemp` Spouse index. 1 if the customer is spouse of an employee

In [51]:
df.conyuemp.value_counts(dropna=False)

NaN    13645501
N          1791
S            17
Name: conyuemp, dtype: int64

In [52]:
df.conyuemp = df.conyuemp.astype('category')

In [53]:
df.conyuemp.value_counts(dropna=False)

NaN    13645501
N          1791
S            17
Name: conyuemp, dtype: int64

`canal_entrada` channel used by the customer to join

In [54]:
df.canal_entrada.value_counts(dropna=False)

KHE    4055270
KAT    3268209
KFC    3098360
KHQ     591039
KFA     409669
KHK     241084
NaN     186126
KHM     183924
KHD     116891
KHN     116608
KAS      86221
RED      75607
KAG      74295
KAY      67350
KAA      66656
KAB      62381
KAE      50764
KCC      49308
KBZ      46446
KHL      45128
KFD      44461
KAI      37699
KEY      35146
KAW      34275
KAR      32686
KAZ      32186
KAF      30559
007      29063
013      27139
KCI      26546
        ...
004        210
KCQ        198
KDN        197
KCR        196
KDH        191
KCO        179
KEE        175
KCP        158
K00        152
KBE        147
KEQ        146
KFB        107
KAV        107
KCT        105
KBX        102
KBP         85
KEM         68
KCX         67
KFV         67
KBN         61
KHA         51
KGC         28
KGU         28
KDB         17
KDI         17
KGN         17
KDL         11
025         11
KHS          5
KHR          1
Name: canal_entrada, Length: 163, dtype: int64

In [55]:
df.canal_entrada = df.canal_entrada.astype('category')

`indfall` Deceased index. N/S

In [56]:
df.indfall.value_counts(dropna=False)

N      13584813
S         34762
NaN       27734
Name: indfall, dtype: int64

In [57]:
df.indfall = df.indfall.astype('category')

`tipodom` Addres type. 1, primary address

In [58]:
df.tipodom.value_counts(dropna=False)

 1.0    13619574
NaN        27735
Name: tipodom, dtype: int64

In [60]:
df.tipodom = df.tipodom.astype('category')

`cod_prov` Province code (customer's address)

In [61]:
df.cod_prov.value_counts(dropna=False)

 28.0    4409600
 8.0     1275219
 46.0     682304
 41.0     605164
 15.0     429322
 30.0     396759
 29.0     367023
 50.0     342543
 3.0      313397
 11.0     294684
 36.0     280026
 33.0     265749
 47.0     238259
 35.0     235700
 6.0      192996
 48.0     185888
 45.0     183067
 18.0     178562
 37.0     164238
 39.0     155706
 14.0     144679
 10.0     129912
 7.0      124933
 21.0     122283
 13.0     119390
 2.0      114128
 12.0     104295
 43.0     100115
 9.0       97188
NaN        93591
 17.0      90538
 31.0      88618
 26.0      85202
 27.0      84962
 32.0      84009
 24.0      83003
 25.0      79059
 20.0      71567
 38.0      70968
 19.0      64618
 23.0      64363
 4.0       60291
 16.0      57310
 49.0      50927
 34.0      49282
 40.0      42341
 22.0      40181
 5.0       38783
 1.0       37704
 44.0      22525
 42.0      17660
 52.0       9460
 51.0       7218
Name: cod_prov, dtype: int64

In [62]:
df.cod_prov = pd.to_numeric(df.cod_prov, errors='coerce', downcast='integer')

In [63]:
df.cod_prov = df.cod_prov.astype('category')

`nomprov` Province name

In [64]:
df.nomprov.value_counts()

MADRID                    4409600
BARCELONA                 1275219
VALENCIA                   682304
SEVILLA                    605164
CORUÑA, A                  429322
MURCIA                     396759
MALAGA                     367023
ZARAGOZA                   342543
ALICANTE                   313397
CADIZ                      294684
PONTEVEDRA                 280026
ASTURIAS                   265749
VALLADOLID                 238259
PALMAS, LAS                235700
BADAJOZ                    192996
BIZKAIA                    185888
TOLEDO                     183067
GRANADA                    178562
SALAMANCA                  164238
CANTABRIA                  155706
CORDOBA                    144679
CACERES                    129912
BALEARS, ILLES             124933
HUELVA                     122283
CIUDAD REAL                119390
ALBACETE                   114128
CASTELLON                  104295
TARRAGONA                  100115
BURGOS                      97188
GIRONA                      90538
NAVARRA                     88618
RIOJA, LA                   85202
LUGO                        84962
OURENSE                     84009
LEON                        83003
LERIDA                      79059
GIPUZKOA                    71567
SANTA CRUZ DE TENERIFE      70968
GUADALAJARA                 64618
JAEN                        64363
ALMERIA                     60291
CUENCA                      57310
ZAMORA                      50927
PALENCIA                    49282
SEGOVIA                     42341
HUESCA                      40181
AVILA                       38783
ALAVA                       37704
TERUEL                      22525
SORIA                       17660
MELILLA                      9460
CEUTA                        7218
Name: nomprov, dtype: int64

In [65]:
df.nomprov = df.nomprov.astype('category')

`ind_actividad_cliente` Activity index (1, active customer; 0, inactive customer)

In [67]:
df.ind_actividad_cliente.value_counts(dropna=False)

 0.0    7384390
 1.0    6235185
NaN       27734
Name: ind_actividad_cliente, dtype: int64

In [68]:
df.ind_actividad_cliente = df.ind_actividad_cliente.astype('category')

`renta` Gross income of the household

In [69]:
df.renta = pd.to_numeric(df.renta)

`segmento` segmentation: 01 - VIP, 02 - Individuals 03 - college graduated

In [71]:
df.segmento.value_counts(dropna=False)

02 - PARTICULARES     7960220
03 - UNIVERSITARIO    4935579
01 - TOP               562142
NaN                    189368
Name: segmento, dtype: int64

In [72]:
df.segmento.replace('02 - PARTICULARES', 2, inplace=True)
df.segmento.replace('03 - UNIVERSITARIO', 3, inplace=True)
df.segmento.replace('01 - TOP', 1, inplace=True)

KeyboardInterrupt:

In [ ]:
df.