In [1]:
import os
if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass
    
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tqdm
import gc

tqdm.tqdm.pandas()

%matplotlib inline

In [2]:
df = pd.read_hdf('../input/data_all.hdf', 'train_test')

Use 2015-05 and 2015-06 data to train a model, and predict on 2016-05 for 2016-06

1. Use two months data to create one dataset
    1. For each user in 2015-06, extract all the history data

In [4]:
target_cols = ['ind_ahor_fin_ult1','ind_aval_fin_ult1',
               'ind_cco_fin_ult1','ind_cder_fin_ult1',
               'ind_cno_fin_ult1','ind_ctju_fin_ult1',
               'ind_ctma_fin_ult1','ind_ctop_fin_ult1',
               'ind_ctpp_fin_ult1','ind_deco_fin_ult1',
               'ind_deme_fin_ult1','ind_dela_fin_ult1',
               'ind_ecue_fin_ult1','ind_fond_fin_ult1',
               'ind_hip_fin_ult1','ind_plan_fin_ult1',
               'ind_pres_fin_ult1','ind_reca_fin_ult1',
               'ind_tjcr_fin_ult1','ind_valo_fin_ult1',
               'ind_viv_fin_ult1','ind_nomina_ult1',
               'ind_nom_pens_ult1','ind_recibo_ult1']

In [5]:
df_pivot = df.pivot_table(index='ncodpers', columns='fecha_dato', 
                                values=target_cols)

In [6]:
month_cols = df.fecha_dato.unique()

In [7]:
m2 = month_cols[-2]
m1 = month_cols[-3]

In [57]:
def calculate_max_score(df, m1, m2):
    tmp2 = df_pivot.loc[:, (slice(None), m2)].copy()
    tmp1 = df_pivot.loc[:, (slice(None), m1)].copy()

    tmp2.dropna(axis=0, how='all', inplace=True)

    tmp1.columns = target_cols
    tmp2.columns = target_cols

    tmp1 = tmp1.loc[tmp1.index.isin(tmp2.index)]
    tmp1.fillna(0.0, inplace=True)

    tmp_diff = tmp2.subtract(tmp1)

    tmp_diff.dropna(axis=0, how='all', inplace=True)
    tmp_diff.fillna(0.0, inplace=True)
    
    return tmp_diff.max(axis=1).sum()/tmp_diff.shape[0]

In [58]:
month_cols = df.fecha_dato.unique()
best_score = {}
for n, m in enumerate(month_cols[:-2]):
    m1 = m
    m2 = month_cols[n+1]
    print(m1, m2, calculate_max_score(df, m1, m2))

2015-01-28T00:00:00.000000000 2015-02-28T00:00:00.000000000 0.04476931561347415
2015-02-28T00:00:00.000000000 2015-03-28T00:00:00.000000000 0.04628668693550156
2015-03-28T00:00:00.000000000 2015-04-28T00:00:00.000000000 0.04598432341794542
2015-04-28T00:00:00.000000000 2015-05-28T00:00:00.000000000 0.03936818486067881
2015-05-28T00:00:00.000000000 2015-06-28T00:00:00.000000000 0.05807533498916328
2015-06-28T00:00:00.000000000 2015-07-28T00:00:00.000000000 0.04738876161852553
2015-07-28T00:00:00.000000000 2015-08-28T00:00:00.000000000 0.04196508305848783
2015-08-28T00:00:00.000000000 2015-09-28T00:00:00.000000000 0.051511369938990574
2015-09-28T00:00:00.000000000 2015-10-28T00:00:00.000000000 0.05436474713953809
2015-10-28T00:00:00.000000000 2015-11-28T00:00:00.000000000 0.0404785737698224
2015-11-28T00:00:00.000000000 2015-12-28T00:00:00.000000000 0.04068765960432929
2015-12-28T00:00:00.000000000 2016-01-28T00:00:00.000000000 0.0331027241999893
2016-01-28T00:00:00.000000000 2016-02-28T00:00:00.000000000 0.04224327400033011
2016-02-28T00:00:00.000000000 2016-03-28T00:00:00.000000000 0.033017827724424804
2016-03-28T00:00:00.000000000 2016-04-28T00:00:00.000000000 0.030925136328282383
2016-04-28T00:00:00.000000000 2016-05-28T00:00:00.000000000 0.031903917857369075

In [61]:
m1 = month_cols[4] # numpy.datetime64('2015-05-28T00:00:00.000000000')
m2 = month_cols[5] # numpy.datetime64('2015-06-28T00:00:00.000000000')

In [72]:
sales_june = df_pivot.loc[:, (slice(None), m2)].copy()
sales_may = df_pivot.loc[:, (slice(None), m1)].copy()

In [ ]:
sales_june.columns = target_cols
sales_may.columns = target_cols

In [73]:
sales_june.dropna(axis=0, how='all', inplace=True)

In [76]:
ncodpers_june = sales_june.index.tolist()

In [66]:
sales_may.shape

(956645, 24)