In [1]:
from santander_helper import *
%matplotlib inline

In [2]:
df = pd.read_hdf('../input/df_target_cols.hdf', 'df_target_cols')

In [7]:
df = []
for month in tqdm.tqdm_notebook(month_list[:-1]):
    df.append(pd.read_hdf('../input/data_month_{}.hdf'.format(month), 'data_month'))
df = pd.concat(df, ignore_index=True)
df = df.loc[:, ['fecha_dato', 'ncodpers']+target_cols].copy()

HBox(children=(IntProgress(value=0, max=17), HTML(value='')))

In [8]:
df.shape

(13647309, 21)

In [9]:
df.head()

,fecha_dato,ncodpers,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_dela_fin_ult1,...,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_nom_pens_ult1,ind_nomina_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_recibo_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,2015-01-28,1375586,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-01-28,1050611,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-01-28,1050612,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-01-28,1050613,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015-01-28,1050614,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df.set_index(['fecha_dato', 'ncodpers'], inplace=True)

In [14]:
dfs = df.stack()

In [21]:
dfc = dfs.iloc[:100].copy()

In [23]:
dfs = dfs.unstack('fecha_dato')

In [26]:
dfs.index.names = ['ncodpers', 'product']

In [30]:
dfs.fillna(0.0, inplace=True)

In [ ]:
dfs.to_hdf('../input/customer_product_history.hdf', 'customer_product_history', complib='blosc:lz4', complevel=9, format='t')